# Introduction 

Before taking a look at the impact of COVID-19 on the people, the environment and the economy, it is important to understand and analyze the situation of the COVID-19 itself. 

## Timeline of COVID-19 in India

- First Case of COVID-19 in India : January 30,
- First Death of COVID-19 in India : March 12

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [2]:
world_data = pd.read_csv('./owid-covid-data.csv')
world_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [7]:
url = "https://coronavirus-tracker-india-covid-19.p.rapidapi.com/api/getStatewiseSorted"
headers = {
    'x-rapidapi-host': "coronavirus-tracker-india-covid-19.p.rapidapi.com",
    'x-rapidapi-key': "d289e76ac9mshba9f4d1775c3636p14580fjsn1fe6f4c1cc9e"
    }

response = requests.request("GET", url, headers=headers)
payload = response.json

In [9]:
print(response.text)

[]